<div>
	<p>J'ai déjà un compte sur MyKitchen</p>
	<form name="connectionForm" ng-controller="UserConnectionCtrl as user">
		<label>Votre pseudo</label> : 
		<input type="text" name="nickname" ng-model"user.nickname" required /><br/>
		
		<label>Votre mot de passe</label> : 
		<input type="password" name="password" ng-model"user.password" required /><br/>
		<input type="submit" ng-click="login()" value="Se connecter" />
	</form>
</div>
<div>
	<p>Je n'ai pas encore de compte sur MyKitchen</p>
	<a href="#/user/registration">Créer mon compte</a>
</div>